<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>QUIZ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>El juego de las preguntas</h2>
    <%= respuesta %><p>
    <a href="/quizes/question"> Try Again </a>
  </body>
</html>